*{
  text-align: center;
  background-color: white;
  font-family:Helvetica;
  font-size:14px;
}
h1{
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color:black;

}
#firstsection{
  background-image:url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}


.main{
  font-family:Helvetica;
  font-size: 32px;
  font-weight: bold;
}
.black-bold{
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
}
.Home {
  Font-family: Helvetica;
  font-size: 18px;
  color:black;
  margin:0;
}
.designed-in-ny{
  font-family:Helvetica;
  font-size: 23px;
  font-weight:bold;
  color:white;
  background-image:url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}
.footer{
  font-family: Helvetica;
  font-size:11px;
  color:white;
}
#highlight-grey{
  text-align:left;
  background-color: dimgray;
}
